* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%);
}
.container {
  margin: 40px;
}

/* search section */
.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.search-section h3 {
  color: #485460;
  line-height: 30px;
}
/* search input */
.search-bar {
  display: flex;
  align-items: center;
  width: 30%;
  border: 1px solid #ddd;
  padding: 6px;
  margin-top: 4px;
  border-radius: 6px;
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #485460;
}
.search-bar #search-icon img {
  width: 30px;
  cursor: pointer;
}

/* table and details in it */
.table {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}
.table th,
.table td {
  text-align: left;
  padding: 12px;
}

.tableData td {
  border-bottom: 1px solid #f1f1f1;
}
.tableData:hover {
  background-color: #f1f1f1;
}
.header {
  cursor: pointer;
}
.header #id {
  width: 10%;
  background-color: #58b19f;
}

.header #name {
  width: 50%;
  background-color: #55e6c1;
}
.header #city {
  width: 40%;
  background-color: #9aecdb;
}
