* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.table {
  border: 1px solid #f6e58d;
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 2px;
}
.header {
  background-color: #feca57;
  color: #576574;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.information {
  border: 1px solid #f9ca24;
  color: #576574;
  font-size: 16px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.search p {
  font-size: 16px;
  color: #130f40;
  line-height: 35px;
}
.searchBox {
  width: 200px;
  padding: 4px;
  border: 1px solid #ff9f43;
  outline: none;
  border-radius: 4px;
}
